/* font family  */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* utilities */

header {
    background-color: #264653;
}

.orange-text {
    color: #E76F51;
}

.button-style {
    background-color: #E76F51;
    border-radius: 5px;
    color: white;
}

.grey-scale {
    filter: grayscale(100%);
}

/* header */
header p {
    font-weight: 300;
    color: #E0E0E0;
}

/* clients review */
.rounded-image {
    border-radius: 50%;
    width: 149px;
    height: 149px;
}

.fas {
    color: #E77C40;
}

/* freequently asked section style */
.faq-font {
    font-family: 'Inter', sans-serif;
}

.faq-font p {
    color: #7E848C;
}

.border-style {
    border: 1px grey solid;
}

/* rating style */
.rating h2,
h3 {
    color: #363958;
    font-weight: 700;
}

.rating .fas {
    color: #363958;
}

/* footer style */
footer {
    height: 200px;
    background-color: #111422;
}